<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<h4>Explore</h4>
				<ul>
					<li><a href="/about/">About Us</a></li>
					<li><a href="/services/">Our Services</a></li>
					<li><a href="/contact/">Contact us</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<h4>Find us</h4>
				<span>International Business Center<br>8 Tumanyan Street<br>Third floor, office 315a<br>Yerevan 0001, Armenia</span>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<h4>Stay Connected</h4>
				<ul class="icons phone">
					<li><a><span>(374 10) 52-04-01</span></a></li>
					<li><a><span>(374 91) 52-04-01</span></a></li>
				</ul>
				<ul class="icons">
					<li><a href="https://www.facebook.com/primetravelarmenia"><i class="fa fa-facebook"></i></a></li>
					<li><a href="/contact/"><i class="fa fa-envelope"></i></a></li>
					<li><a href="skype:primetravel2016?call"><i class="fa fa-skype"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
<div class="copyright text-center">
	<small>&copy; Prime Travel 2016 | Powered by: <a href="#">Anna Tsugunyan</a></small>
</div>
</footer>
