<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ page.title }}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
	<script src="{{ "/js/modernizr-2.6.2-respond-1.1.0.min.js" | prepend: site.baseurl }}"></script>
</head>
