<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Homepage</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}" />
	<script src="{{ "/js/modernizr-2.6.2-respond-1.1.0.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>

	{{ content }}

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
	<script>window.jQuery || document.write('<script src="{{ "/js/jquery-1.11.2.min.js" | prepend: site.baseurl }}"><\/script>')</script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>


</body>
</html>